.brandName {
    color: #000;
    font-weight: 500;
    font-family: 'avenir',sans-serif;
   
}
.yellow {
    background-color: #FEE400;
}

.hero-button-and-header-section {
    text-align: center;
    padding: 10px 0px;
}

.hero-button:hover {
    background-color: #e0a800;
}
